@media (max-width: 1279px) {
    .content-bar {
        &__h2 {
            font-size: 26px;
            line-height: 120%;
            letter-spacing: inherit;
        }

        &__content {
            gap: 20px;
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: 22px 20px;
            margin-bottom: -80px; 
        }

        &__item {
            height: 280px;
        }

        &__wrap {   
            &_small {
                height: 200px;
            }

            &_4,
            &_10 {             
                margin-top: -80px; 
            }
        }

        &__link {
            padding: 20px;

            &_1 {
                background-position: bottom right -45px;
            } 
            
            &_4 {            
                background-position: bottom right -45px;
            }

            &_5 {            
                background-position: bottom -18px right;
            }

            &_6 {            
                background-position: bottom -10px right;
            }

            &_7 {            
                background-position: bottom right -45px;
            }

            &_10 {            
                background-position: top right -15px;
            }
        }

        &__title {
            font-size: 22px;
            line-height: 120%;
            padding-bottom: 10px;
    
            &_small {
                font-size: 18px;
                line-height: 130%;
                letter-spacing: 0.18px;
                padding-bottom: 8px;
            }
        }

        &__button {
            margin-top: 60px; 
        }
    }
}

@media (max-width: 1023px) {
    .content-bar {
        &__h2 {
            font-size: 20px;
            line-height: 115%;
            margin-bottom: 25px;
        }

        &__container {
            gap: 20px;
            margin-bottom: -47px; 
        }

        &__item {
            height: 187px;
        }

        &__wrap {
            border-radius: 6px;

            &_small {
                height: 140px;
            }

            &_4,
            &_10 {             
                margin-top: -47px; 
            }
        }

        &__link {
            padding: 15px 10px;
            background-size: contain;

            &_1 {
                background-position: bottom right -25px;
            } 
            
            &_4 {            
                background-position: bottom right -25px;
            }

            &_7 {            
                background-position: bottom right -15px;
            }

            &_10 {            
                background-position: top right -5px;
            }
        }

        &__title {
            font-size: 16px;
            line-height: 115%;
            padding-bottom: 5px;
    
            &_small {
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0.14px;
            }
        }

        &__price {
            gap: 4px;
            padding: 8px 6px;
            font-size: 14px;

            &::after {
                width: 12px;
                height: 12px;
            }
    
            &_small {
                gap: 4px;
                font-size: 12px;
                padding: 4.5px 4px;

                &::after {
                    width: 10px;
                    height: 10px;
                }
            }
        }

        &__desctiption-bottom {
            max-width: 180px;
            gap: 6px;
        }
    
        &__advantage {
            gap: 3.78px;
        }
    
        &__icon {
            width: 16px;
            height: 16px;
        }
    
        &__text {
            font-size: 12px;
        }

        &__button {
            min-width: 216px;
            font-size: 14px;
            margin-top: 27px; 
        }
    }
}

@media (max-width: 767px) {
    .content-bar {
        &__h2 {
            margin-bottom: 23px;
        }

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 20px;

            margin-bottom: 0; 
        }

        &__item {
            height: 145px;
    
            &_1,
            &_7 {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }
    
            &_2,
            &_8 {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
    
            &_3,
            &_9 {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
    
            &_4,
            &_10 {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
            }
    
            &_5,
            &_11 {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }
    
            &_6,
            &_12 {
                grid-column: 2 / 3;
                grid-row: 4 / 5;
            }
        }    

        &__wrap {
            &_small {
                height: 145px;
            }

            &_4,
            &_10 {             
                margin-top: 0px; 
            }
        }

        &__link {
            gap: 5px;
            padding: 10px;

            &_1 {
                background-position: bottom right 0px;
            }

            &_4 {            
                background-position: bottom 0px right 0px;
            }

            &_7 {     
                background-position: bottom right 0px;
            }

            &_10 {     
                background-position: top 0 right 0px;
            }
        }

        &__title {
            font-size: 14px;
            line-height: normal;
    
            &_small {
                font-size: 14px;
                line-height: normal;    
                letter-spacing: auto;
            }
        }

        &__price {
            padding: 4.5px 4px;
            font-size: 12px;

            &::after {
                width: 10px;
                height: 10px;
            }
        }

        &__desctiption-bottom {
            gap: 4px;
        }

        &__button {
            margin-top: -20px; 
        }
    }
}

@media (max-width: 490px) {
    .content-bar {
        &__link {
            &_1 {
                background-size: 80% auto;
            } 

            &_3 {
                background-size: 90% auto;
                background-position: bottom right;
            }
            
            &_4 {            
                background-size: 75% auto;
                background-position: bottom -5px right 0px;
            }

            &_5 {        
                background-size: 90% auto;         
                background-position: bottom -10px right;
            }

            &_6 {       
                background-size: 85% auto;     
                background-position: bottom 0px right;
            }

            &_7 {     
                background-size: 78% auto;       
            }

            &_10 {     
                background-size: 80% auto;              
                background-position: top -5px right 0px;
            }
        }
    }
}

@media (max-width: 429px) {
    .content-bar {
        &__h2 {
            margin-bottom: 20px;
        }

        &__content {
            gap: 15px;
        }

        &__container {
            gap: 15px;
        }

        &__button {
            min-width: 100%;
            margin-top: -15px; 
        }
    }
}

@media (max-width: 359px) {
    .content-bar {
        &__link {
            &_1 {
                background-size: 90% auto;
                background-position: bottom right -20px;
            } 

            &_2 {
                background-size: 120% auto;
            }

            &_3 {
                background-size: 110% auto;
            }
            
            &_4 {            
                background-size: 105% auto;
                background-position: bottom 0px right -55px;
            }

            &_5 {        
                background-size: 110% auto;         
            }

            &_6 {       
                background-size: 112% auto;     
                background-position: bottom -10px right;
            }

            &_7 {     
                background-size: 90% auto;       
                background-position: bottom right -5px;
            }
            
            &_8 {     
                background-size: 110% auto;       
                background-position: bottom right 0px;
            }

            &_10 {     
                background-size: 90% auto;              
                background-position: top -5px right 0px;
            }

            &_11 {     
                background-size: 118% auto;              
                background-position: bottom 7px right -15px;
            }

            &_12 {     
                background-size: 110% auto;              
                background-position: bottom 5px right;
            }
        }
    }
}